.navbar-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #000 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  /* Adjust this as needed */
  transition: all 0.3s ease;
}

.navbar-sticky .navbar-brand {
  font-size: 20px;
  /* Adjust size when sticky */
}



.navbar-scrollspy {
  transition: all 0.3s ease;
}